# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.99 - Filebase Challenges.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Timo\Documents\00 - Development\02 - Games\03 - GameDevHQ\99 - Filebase Challenges\.idea\.idea.99 - Filebase Challenges\.idea/dataSources/
/dataSources.local.xml
